In [19]:
# Let's run the preprocessing on both train and test data
from libs.simple_processing import normalize, separate_target, dropna_rows, remove_columns
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from constants import source_path, target_name, x_path, y_path

DATA = pd.read_csv(source_path)
print(X.head())
print(X.dtypes)

              date  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0  20141013T000000         3       1.00         1180      5650     1.0
1  20141209T000000         3       2.25         2570      7242     2.0
2  20150225T000000         2       1.00          770     10000     1.0
3  20141209T000000         4       3.00         1960      5000     1.0
4  20150218T000000         3       2.00         1680      8080     1.0

   waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  \
0           0     0          3      7        1180              0      1955
1           0     0          3      7        2170            400      1951
2           0     0          3      6         770              0      1933
3           0     0          5      7        1050            910      1965
4           0     0          3      8        1680              0      1987

   yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15
0             0    98178  47.5112 -122.257           1340        5650
1          1991    98125  47.7210 -122.319           1690        7639
2             0    98028  47.7379 -122.233           2720        8062
3             0    98136  47.5208 -122.393           1360        5000
4             0    98074  47.6168 -122.045           1800        7503
date              object
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [20]:
from datetime import fromtimestamp

# DATA = remove_columns(DATA, ['citric acid'])
# DATA = remove_columns(DATA, ['density'])
DATA = remove_columns(DATA, ['id'])
# DATA['date'] = pd.to_datetime(DATA['date'], format='%Y%m%d')
DATA['date'] = fromtimestamp(DATA['date'], tz=None)

X, y = separate_target(DATA, target_name)
X = dropna_rows(X, X.columns)

# Data Normalization
X = normalize(X)

# Data Categorization
# from libs.simple_processing import categorize
# X_train, X_valid = categorize(X_train, X_valid)
# print("Done")

print(X.shape)

ValueError: unconverted data remains: T000000

In [21]:
X.head()

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,20141013T000000,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,20141209T000000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,20150225T000000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,20141209T000000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,20150218T000000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [7]:
y.shape

(21613,)

In [10]:
y.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

In [11]:
X.to_csv(x_path, index=False)
y.to_csv(y_path, index=False)

print("Done")

Done